.message {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.message:not(:last-child){
   border-bottom: 1px solid rgb(235, 232, 232);
}
.message.highlighted > span {
    font-weight: bold;
}
.message__time {
    padding-top: 5px;
    color: rgb(97, 97, 97);
    width: 35%;
    font-size: 0.8rem;
}
.message__text {
    width: 60%;
    font-size: 0.95rem;
}
