.notification-message {
    padding: 10px 20px;
    font-size: 0.9rem;
    position: relative;
}
.notification-message:not(:last-child) {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.notification-message.highlighted {
    background-color: rgb(47, 117, 223);
    color: #fff;
}
.notification-message__time {
    display: inline-block;
    width: 35%;
    padding-right: 10px;
}
.notification-message__text {
    word-break: break-word;
    width: 60%;
    float: right;
    display: block;
}

.notification-message__text:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    zoom: 1;
}
