.message {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0;
    margin: 0;
    transition: all .2s;
}
.message.highlighted > span {
    font-weight: bold;
}
.message:not(:last-child){
   border-bottom: 1px solid rgb(235, 232, 232);
}
.message__time {
    padding-top: 0.25vw;
    width: 35%;
    font-size: 0.65vw;
}
.message__text {
    width: 55%;
    word-wrap: break-word;
    font-size: 0.8vw;
}
